<div class="category">
    <app-select-category (messageEvent)="receiveMessage($event)"></app-select-category>
</div>

<div class="category">
    last refreshed: {{ getDateTime() }}
</div>

<div class="row">
    <div *ngFor="let note of notes" class="c card border-info mb-3">
        <div class="card-header text-white bg-dark">
            <h5 class="header">{{note.title}}</h5>
            <button type="button" (click)="onDelete(note)" class="header close text-white" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body text-dark">
            <p class="card-text comment">{{note.comment}}</p>
            <p class="card-text"><small class="text-muted">Last updated {{ displayLastUpdated(note) }}</small></p>
            <p class="card-text"><small class="text-muted">Category: {{note.category ? note.category.name : ''}}</small></p>
        </div>
    </div>
</div>