.row {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.c { 
    margin: 5px;
}

.header {
    display: inline;
}

.comment {
    white-space: pre;
}

.category {
    width: 500px;
    margin: 10px;
    padding: 10px;
}